
body{
    font-family: 'Montserrat', sans-serif;
    
}



.mycolor{


font-size: 14px;
font-weight: 600;
color:cyan;
    padding: 20px 0;
    display: inline-block;
    margin-left: 30px;


}


.mynav{
    margin-left: 200px;
padding-right: 100px;
color:brown

}


.mybutton{
    background-color: #fff;
border-color: #0cb8b6;
color: #0cb8b6;
border: 1px solid;
}


.mycard{
    height: 350px;
}